<style type="text/css">
<!--
.mensajeclave {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000066}
.tablacalc2 { color:#000066 background-color:#FFEOCC}
.enlacecalc 
{ 
    COLOR: #000066;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px
}
.enlacecalc A:link
{
    COLOR: #000066;
    TEXT-DECORATION: none
}
.enlacecalc A:visited
{
    COLOR: #000066;
    TEXT-DECORATION: none
}
.enlacecalc A:hover
{
    COLOR: #FF8533;
    TEXT-DECORATION: none
}
.enlacecalc2 
{ 
	color:#000066; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt
}
.enlacecalc2 A:link
{
    COLOR: #000066;
    TEXT-DECORATION: none
}
.enlacecalc2 A:visited
{
    COLOR: #000066;
    TEXT-DECORATION: none
}

.enlacecalc2 A:hover
{
    COLOR: #FF8533;
    TEXT-DECORATION: none
}
-->
</style>
