
BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 10px;
    COLOR: #000066;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
FORM
{
    MARGIN: 0px
}
#principal
{
    FONT-SIZE: 11px;
    MARGIN: 0px auto;
    WIDTH: 760px;
    COLOR: #2D2D2D;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
#principal TD
{
    FONT-SIZE: 11px;
    COLOR: #2D2D2D;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
#principal SELECT
{
    FONT-SIZE: 11px;
    COLOR: #2D2D2D;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
#principal A
{
    COLOR: #FFFFFF;
    TEXT-DECORATION: none;
    FONT-FAMILY: Flexo_Bold;
    /*font-weight: bold*/
}
#principal A:hover
{
    TEXT-DECORATION: underline
}
#principal .txt09ver
{
    FONT-SIZE: 9px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#principal .txt09azul
{
    FONT-SIZE: 9px
}
#principal .txt10azul
{
    FONT-SIZE: 10px
}
#principal .txt11grissub
{
    FONT-SIZE: 11px;
    COLOR: #999999;
    TEXT-DECORATION: underline
}
#principal .txt11azul
{
    FONT-SIZE: 11px;
    COLOR: #002D74;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
#principal .txt11gris
{
    FONT-SIZE: 11px;
    COLOR: #2D2D2D;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
#principal .txt11naranja
{
    FONT-SIZE: 11px;
    COLOR: #FF4F00;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
#principal .txt11azulsub
{
    FONT-SIZE: 11px;
    COLOR: #000066;
    TEXT-DECORATION: underline
}
#principal A.txt11azulsub:hover
{
    TEXT-DECORATION: none
}
#principal .txt11blan
{
    FONT-SIZE: 11px;
    COLOR: #ffffff
}
#principal .txt12azul
{
    FONT-SIZE: 12px
}
#principal .txt14azul
{
    FONT-SIZE: 14px
}
#principal .txtcolor
{
    FONT-SIZE: 11px;
    COLOR: #FF4F00
}
#principal .txtcolorama
{
    FONT-SIZE: 12px;
    MARGIN: -5px 0px 11px;    
    COLOR: #FF4F00;
    FONT-FAMILY: Flexo_Medium_Italic;
    /*font-style:italic*/
}
#principal .txtcolor10
{
    FONT-SIZE: 10px;
    COLOR: #ff4f00
}
#principal A.txtcolor10sub
{
    FONT-SIZE: 10px;
    COLOR: #ff4f00;
    TEXT-DECORATION: underline
}
#principal .txt11rojo
{
    COLOR: #f11a0a
}
#principal A.txtcolor10sub:hover
{
    TEXT-DECORATION: none
}
#principal A.txtcolorsub
{
    COLOR: #FF4F00;
    TEXT-DECORATION: underline
}
#principal A.txtcolorsub:hover
{
    TEXT-DECORATION: none
}
#principal .txtcolor12
{
    FONT-SIZE: 12px;
    COLOR: #ff4f00
}
#principal .txtcolor14
{
    FONT-SIZE: 14px;
    COLOR: #ff4f00
}
#principal .txtcolor18
{
    FONT-SIZE: 18px;
    COLOR: #ff4f00
}
#principal .boton
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffb310
}
#principal TD.calc
{
    BORDER-RIGHT: #ffffff 1px solid;
    VERTICAL-ALIGN: middle;
    WIDTH: 25px;
    BORDER-BOTTOM: #ffffff 1px solid;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #e5e5ef;
    TEXT-ALIGN: center
}
#principal TD.calc02
{
    BORDER-RIGHT: #ffffff 1px solid;
    VERTICAL-ALIGN: middle;
    BORDER-BOTTOM: #ffffff 1px solid;
    BACKGROUND-COLOR: #000066;
    TEXT-ALIGN: center
}
#titular
{
    BORDER-TOP: #FF4F00 1px solid;
    MARGIN-BOTTOM: 11px;
    WIDTH: 760px
}
#principal TD.sesion
{
    BACKGROUND-COLOR: #f11a0a
}
#principal TH
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: top;
    COLOR: #ffffff;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: #002D74
}
#principal TD.td00zs
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: #E7E7E7
}
#principal TD.td00zsbot
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: #E7E7E7    
}
#principal TD.td20zs
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: #D6D6D6
}
#principal TD.td20zsbot
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: #D6D6D6
}
#cabecera
{
    WIDTH: 760px;
    BACKGROUND-COLOR: #000066;
    TEXT-ALIGN: right
}
#herramientas
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 1px;
    WIDTH: 100%;
    COLOR: #000066;
    PADDING-TOP: 1px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 22px;
    TEXT-ALIGN: right
}
#herramientas IMG
{
    MARGIN-LEFT: 10px;
    MARGIN-RIGHT: 4px
}
#menu
{
    WIDTH: 165px
}
#menu TD
{
    VERTICAL-ALIGN: top;
    BORDER-BOTTOM: #ffffff 1px solid
}
#menu TD.nivelvacio
{
    BORDER-BOTTOM: #ffffff 0px solid
}
#menu TD.nivel01li
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #FF4F00
}
#menu TD.nivel01off
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 1px;
    /*FONT-WEIGHT: bold;*/
    FONT-FAMILY: Flexo_Bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    COLOR: #002D74;
}
#menu TD.nivel02li
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #ffdccc
}
#menu TD.nivel02off
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
#menu TD.nivel03li
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 32px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #ffefe5
}
#menu TD.nivel03off
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 32px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
#menu TD.nivel01faq
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #000066
}
#menu TD.nivel01faqoff
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
#menu A:hover
{
    TEXT-DECORATION: underline
}
#menu A.nivel01faq
{
    COLOR: #ffffff
}
#zonaDA
{
    MARGIN: 0px 0px 10px;
    WIDTH: 126px;
    BACKGROUND-COLOR: #ffdccc
}
#zonaDA TD
{
    FONT-SIZE: 10px;
    VERTICAL-ALIGN: top
}
#abece
{
    WIDTH: 100%;
    COLOR: #9999c2
}
#abece TD
{
    BORDER-RIGHT: #ff4f00 1px solid;
    WIDTH: 15px;
    COLOR: #9999c2;
    TEXT-ALIGN: center
}
#abece A
{
    TEXT-DECORATION: underline
}
#abece A:hover
{
    COLOR: #ff4f00
}
#pie
{
    PADDING-RIGHT: 2px;
    BORDER-TOP: #FF4F00 1px solid;
    PADDING-LEFT: 2px;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 5px;
    WIDTH: 100%;
    COLOR: #2D2D2D;
    PADDING-TOP: 5px;
    TEXT-ALIGN: left
}
#pie A
{
    COLOR: #2D2D2D;
    TEXT-DECORATION: underline;
    font-weight: normal    
}
#pie A:hover
{
    TEXT-DECORATION: none
}
UL UL LI LI
{
    MARGIN-LEFT: 0px
}
UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
LI
{
    PADDING-LEFT: 8px;
    BACKGROUND-IMAGE: url(../images/bullet_nara.gif);
    BACKGROUND-REPEAT: no-repeat
}
#principal h1
{    
    FONT-SIZE: 18px;
    MARGIN: 11px 0px;
    COLOR: #FF4F00;
    FONT-FAMILY:Flexo_Medium_Italic; 
    /*font-style:italic*/ 
}
#principal H1 EM
{
    FONT-WEIGHT: normal;
    FONT-STYLE: normal
}
#principal H2
{
    FONT-SIZE: 12px;
    MARGIN: -5px 0px 11px;
    COLOR: #FF4F00;
    FONT-FAMILY:Flexo_Medium_Italic; 
    /*font-style:italic*/
    
}
#principal H2 EM
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    FLOAT: right;
    MARGIN: 0px;
    FONT-STYLE: normal
}
#principal H1.h1sub
{
    FONT-SIZE: 18px;
    MARGIN: 11px 0px 0px;
    COLOR: #ff4f00
}
#principal H1.h1sub EM
{
    FONT-WEIGHT: normal;
    FLOAT: right;
    MARGIN: 0px;
    FONT-STYLE: normal
}
.esq
{
    BACKGROUND-POSITION: right bottom;
    BACKGROUND-REPEAT: no-repeat
}
HR
{
    MARGIN: 3px 0px 4px;
    COLOR: #FF4F00;
    HEIGHT: 1px
}
HR.hrprimera
{
    MARGIN-TOP: -8px;
    COLOR: #FF4F00;
    HEIGHT: 1px
}
HR.hrrojo
{
    COLOR: #f11a0a
}
.fondo
{
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-REPEAT: no-repeat
}
TABLE.bordeazul
{
    BORDER-RIGHT: #000066 1px solid;
    BORDER-TOP: #000066 1px solid;
    BORDER-LEFT: #000066 1px solid;
    BORDER-BOTTOM: #000066 1px solid
}
TD.bordeazul
{
    BORDER-RIGHT: #000066 1px solid;
    BORDER-TOP: #000066 1px solid;
    BORDER-LEFT: #000066 1px solid;
    BORDER-BOTTOM: #000066 1px solid
}
TABLE.bordenara
{
    BORDER-RIGHT: #ff4f00 1px solid;
    BORDER-TOP: #ff4f00 1px solid;
    BORDER-LEFT: #ff4f00 1px solid;
    BORDER-BOTTOM: #ff4f00 1px solid
}
TD.bordenara
{
    BORDER-RIGHT: #ff4f00 1px solid;
    BORDER-TOP: #ff4f00 1px solid;
    BORDER-LEFT: #ff4f00 1px solid;
    BORDER-BOTTOM: #ff4f00 1px solid
}
TD.bordeTopBottonNaranja
{
    BORDER-TOP: #FF4F00 1px solid;
    BORDER-BOTTOM: #FF4F00 1px solid
}
.etiqueta
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none
}
.errorDatos
{
    FONT-SIZE: 12px;
    COLOR: red
}
TABLE.gris
{
    BACKGROUND:#E7E7E7
}
